[submodule "language-chm"]
	path = language-chm
	url = https://github.com/jiriklepl/language-chm.git
[submodule "thih-Nov23-2000"]
	path = thih-Nov23-2000
	url = https://github.com/jiriklepl/thih.git
